<!DOCTYPE html>
<html>
  <head>
    <title>Pinban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.pinboard = "<%= image_url('pinboard.png') %>"
      window.wip = "<%= image_url('wip.png') %>"
    </script>

    <%= favicon_link_tag asset_path('trello.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
